//variables globales
$mainColor: rgba(255, 122, 19, 0.8);
$secondColor: rgba(230, 98, 0, 0.8);
$keyColor: ghostwhite;
$keyColor2: black;
$keyColor3: #FF7A13;
$keyColor4: #E66200;
$keyColor5: #D27300;

//sizing
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;
