@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather&display=swap');

$fontMain: 'Libre Baskerville', serif;
$fontSecondary: 'Merriweather', serif;

$textXl:4rem;
$textLg:3rem;
$textMd:2rem;
$textSm:1rem;

